<div class="container">
  <div class="row my-5">
    <div class="col-md-12">
      <h3 class="text-black-50">Welcome</h3>
      <p class="small">Quill editor / CK editor demo</p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque
        ipsa dolorem, mollitia consectetur vitae fugit minus voluptates ab
        maiores in qui reprehenderit eveniet necessitatibus quaerat. Perferendis
        deserunt voluptatibus voluptates rerum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam soluta ad
        in facere quo rerum suscipit deserunt hic, labore vero aliquam porro
        ipsum architecto! Optio harum debitis delectus recusandae voluptas.
      </p>
    </div>
  </div>
</div>
